/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Table layout and formating */
.log-list {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

/* Set table data */
.log-list td, th {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Column widths will total 100% with the last column a set width to keep the edit/details/delete buttons in line */
.col-date {
	width: 7%;
}

.col-time {
	width: 30px;
}

.col-title {
	width: 15%;
}

.col-desc {
	width: 25%;
}

.col-project {
	width: 45px;
}

.col-task {
	width: 5%;
}

.col-edit {
	width: 100px;
}

/* 
	Overrides the width for Boostrap form-control.
*/

/* Set the width for project name, task name, date, and time on the Worklog form */
.form-control.text-date-time-width {
	width: 50%;
}

.form-control.title-width {
	width: 100%;
}
